@page
@model AppointmentTracker.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>List of Future Appointments</h3>
<br />
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FutureAppointment[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FutureAppointment[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FutureAppointment[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FutureAppointment[0].Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FutureAppointment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<h3>List of Past Appointments</h3>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PastAppointment[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastAppointment[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastAppointment[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastAppointment[0].Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PastAppointment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }


    </tbody>
</table>
