@page "{id:int?}"
@model AppointmentTracker.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Client</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.FirstName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.AddressLine1)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.AddressLine1)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.AddressLine2)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.AddressLine2)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.City)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.Country)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.Country)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.AddedDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.AddedDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Client.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Client.Email)
                </dd>
            </dl>
        </div>

        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Appointment History</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].Details)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Appointment)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                            <a asp-page="/Appointments/Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
